# =============== #
# Unity generated #
# =============== #
MVGD-Game-01/[Tt]emp/
MVGD-Game-01/[Oo]bj/
MVGD-Game-01/[Bb]uild
MVGD-Game-01/Library
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# Optimized To Allow Travis CI To Build #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.pidb
/*.suo
/*.user
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
.vscode/settings.json
MVGD-Game-01/Assembly-CSharp-Editor-firstpass.csproj
MVGD-Game-01/Assembly-CSharp-firstpass.csproj
MVGD-Game-01/Assembly-CSharp-Editor.csproj
