# =============== #
# Unity generated #
# =============== #
/Temp/
/obj/
/Build
/Library/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# Optimized To Allow Travis CI To Build #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.pidb
/*.suo
/*.user
/*.booproj
/*.csproj
/*.sln
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
.vscode/settings.json
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-Editor.csproj
